{% load static %}
<head>
    <title>Projects</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>

<header>
    <strong class="logo">WhatNow</strong>
    <a href="{% url 'profile' %}" class="home"><b>Profile</b></a>
    <a href="{% url 'tasks:index' %}" class="home"><b>Home</b></a>
    <a href="{% url 'tasks:projects:list' %}" class="navigation"><b>Projects</b></a>
    <a href="{% url 'user-list' %}" class="navigation"><b>Distribute developers</b></a>
    <a href="{% url 'logout' %}" class="home"><b>Logout</b></a>
</header>

{% block content %} {% endblock %}