{% load static %}
<head>

    <title>Your Profile</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
<header>
    <strong class="logo">WhatNow</strong>
    <a href="{% url 'profile' %}" class="home"><b>Profile</b></a>
    <a href="{% url 'tasks:index' %}" class="home"><b>Home</b></a>
    {% if user_type != 3 %}
    <a href="{% url 'tasks:tasks:list' %}" class="navigation"><b>Manage your tasks</b></a>
    {% endif %}
    {% if user_type == 3 %}
    <a href="{% url 'tasks:projects:list' %}" class="navigation"><b>Projects</b></a>
    <a href="{% url 'user-list' %}" class="navigation"><b>Distribute developers</b></a>
    {% endif %}
    <a href="{% url 'logout' %}" class="home"><b>Logout</b></a>
</header>

<div class="box">
    <div class="media">
        <img width="300" src="{{ user.profile.image.url }}">
        <p class="info">Username:</p>
        <p class="data">{{ user.username }}</p>
        <p class="info">Email:</p>
        <p class="data">{{ user.email }}</p>
    </div>
    <div class="forms">
        <h2 class="h2">Update your profile:</h2>
        <form method="POST" enctype="multipart/form-data" class="udate">
            {% csrf_token %}
            {{ u_form.as_p }}
            {{ p_form.as_p }}
            <button type="submit" class="button" id="save">SAVE</button>
        </form>
    </div>
</div>