{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
    <link rel="stylesheet" type="text/css" href="{% static 'login.css' %}">
</head>
<body>
    <div class="container">

        <div class="image">  
        </div>

        <div class="form-container">
            <div class="logo_container">
                <strong class="logo">WhatNow</strong>
            </div>
            <div>
                <strong class="create">Create your profile</strong>
            </div>
            <div class="form">
                <form method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="button" id="button">Sign Up</button>
                </form>
            </div>
            <div class="small">
                <p><small>Already Have An Account?</small></p>
                <p><small><a href="{% url 'login' %}">Login</a></small></p>
            </div>
        </div>
    </div>
</body>
</html>