body {
    width: 100%;
    height: 100%;
    margin: 0;
}

.container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.image {
    width: 50%;
    height: 100vh;
    background-image: url("work.jpg");
    background-size: cover;
    background-position: center;
}

.form-container {
    width: 50%;
    height: 100%;
    padding-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    font-family: 'OCR A Std', monospace;
    font-size: 55px;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(6,128,49,0.7819328414959734) 0%, rgba(39,92,12,1) 100%, rgba(0,212,255,1) 100%);
    border: 3px ridge #225508;
    color: white;
    border-radius: 1.3rem;
    padding-left: .4rem;
    padding-right: .4rem;
}

.logo_container {
    margin-bottom: 1rem;
}

.create {
    font-family: 'OCR A Std', monospace;
    color: #40614B;
    font-size: 31px;
}

.signin {
    margin-bottom: 3rem;
    font-size: 40px;
}

.form {
    margin-top: 1.5rem;
    font-size: 27px;
}

span, ul {
    display: none;
}

label {
    color: #40614B;
}

input {
    width: 100%;
    border: none;
    border-bottom: 1px solid grey;
    margin-bottom: .3rem;
}

.button {
    font-size: 25px;
    border-radius: 1rem;
    color: #40614B;
    padding: .2rem;
    padding-right: 1rem;
    padding-left: 1rem;
    margin: 0 auto;
    margin-top: 1rem;
    margin-left: 8rem;
}

#button {
    margin-left: 12rem;
}

.small {
    font-family: 'OCR A Std', monospace;
    font-size: 20px;
    color: #40614B;
    margin-top: 5rem;
    margin-right: 12rem;
}

a {
    text-decoration: none;
    font-style: italic;
    color: #88614f;
}

#logout {
    font-size: 36px;
}

.logout {
    margin-top: 7rem;
}

.question {
    margin-left: 11rem;
}