
{%  extends 'tasks/base.html' %} {% block content %}

{% if user_type == 1 %}
<h3>
    <a href="{% url 'tasks:tasks:sent-review' task.id %}">Send Review</a>
</h3>
{% endif %}
{% if user_type == 2 %}
<h3>
    <a href="{% url 'tasks:tasks:asign' task.id %}">asign task</a>
</h3>
{% endif %}

{% if comments %}
<table>
    <tr>
        <th>Description</th>
        <th>Date</th>
        <th>User</th>
    </tr>
    {% for comment in comments %}
    <tr>
        <td>{{ comment.description }}</td>
        <td>{{ comment.date }}</td>
        <td>{{ comment.user_id.user }}</td>
    </tr>
    {% endfor %}
</table>

{% else %}
<p><strong>No comments yet.</strong></p>
{% endif %}
<h2><a href="{% url 'tasks:comments:create' task.id %}">Add comment</a></h2>

{% endblock %}