{% extends 'tasks/base.html' %} {% block content %}
<a href="{% url 'tasks:tasks:create' %}">Add new</a>

{% if tasks %}
<table>
    <tr>
        <th>Title</th>
        <th>Project</th>
        <th>Start</th>
        <th>End</th>
        <th>Status</th>
        <th>Description</th>
    </tr>
    {% for task in tasks %}
    <tr>
        <td><a href="{% url 'tasks:tasks:detail' task.task_id.id %}">{{ task.task_id.title }}</a></td>
        <td>{{ task.task_id.project_id.title }}</td>
        <td>{{ task.task_id.date_start }}</td>
        <td>{{ task.task_id.date_end }}</td>
        <td>{{ task.task_id.status }}</td>
        <td>{{ task.task_id.description }}</td>
    </tr>
    {% endfor %}
</table>

{% else %}
<p><strong>No tasks yet.</strong></p>
{% endif %} {% endblock %}