{% extends 'tasks/base.html' %} {% block content %}
<a href="{% url 'tasks:tasks:create' %}">Add new</a>

{% if tasks %}
<table>
    <tr>
        <th>Title</th>
        <th>Project id</th>
        <th>Start</th>
        <th>End</th>
        <th>Status</th>
        <th>Description</th>
    </tr>
    {% for task in tasks %}
    <tr>
        <td><a href="{% url 'tasks:tasks:detail' task.id %}">{{ task.title }}</a></td>
        <td>{{ task.project_id }}</td>
        <td>{{ task.date_start }}</td>
        <td>{{ task.date_end }}</td>
        <td>{{ task.status }}</td>
        <td>{{ task.description }}</td>
    </tr>
    {% endfor %}
</table>
{% else %}
<p><strong>No tasks yet.</strong></p>
{% endif %} {% endblock %}