{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>WhatNow</title>
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    </head>
    <body>
        <header>
            <strong class="logo">WhatNow</strong>
            <a href="{% url 'profile' %}" class="home"><b>Profile</b></a>
            <a href="{% url 'tasks:index' %}" class="home"><b>Home</b></a>
            {% if user_type != 3 %}
            <a href="{% url 'tasks:tasks:list' %}" class="navigation"><b>Manage your tasks</b></a>
            {% endif %}
            {% if user_type == 3 %}
            <a href="{% url 'tasks:projects:list' %}" class="navigation"><b>Projects</b></a>
            <a href="{% url 'user-list' %}" class="navigation"><b>Distribute developers</b></a>
            {% endif %}
            <a href="{% url 'logout' %}" class="home"><b>Logout</b></a>
        </header>

        <div class="container">

        </div>
    </body>
</html>