* {
    box-sizing: border-box;
    font-family: 'Blippo', fantasy;
    padding: 0;
    margin: 0;
    outline: none;
}

html, body {
    width: 100%;
    height: 100%;
}

.container {
    width: 100%;
    height: 92%;
    background-image: url("work.jpg");
    background-size: 1841px 750px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem;
}

.projects {
    width: 100%;
    height: 92%;
    background-image: url("work.jpg");
    background-size: 1841px 750px;
    display: flex;
    flex-direction: column;
}

.pr {
    font-size: 23px;
}

.th {
    text-align: left;
}

header {
    height: 8%;
    padding-right: 1.5rem;
    padding-left: 4rem;
    background-color: rgb(142, 226, 181, 0.4);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navigation {
    font-size: 25px;
}

.home {
    font-size: 25px;
}

#logout {
    font-size: 18px;
    padding-top: 1.2rem;
}

.logo {
    font-family: 'OCR A Std', monospace;
    font-size: 33px;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(6,128,49,0.7819328414959734) 0%, rgba(39,92,12,1) 100%, rgba(0,212,255,1) 100%);
    border: 3px ridge #225508;
    color: white;
    border-radius: 1rem;
    padding-left: .4rem;
    padding-right: .4rem;
}

ul {
    padding: 2rem;
    list-style-type: none;
}

a {
    height: 100%;
    text-decoration: none;
    color: #40614B;
    border-radius: 1rem;
    padding-left: .3rem;
    padding-right: .3rem;
    padding-top: 1rem;
}

.heading {
    padding-left: 1rem;
    padding-top: 0.5rem;
    font-style: italic;
    font-size: 23px;
    margin-bottom: 1.5rem;
}

.table {
    width: 15%;
    font-size: 15px;
    border: 1px solid grey;
    border-radius: 1rem;
    background-color: rgb(195, 195, 190, 0.85);
    margin-right: 0.5rem;
    margin-right: 0.5rem;
}

.table1 {
    width: 18%;
    border: 1px solid grey;
    border-radius: 1rem;
    background-color: rgb(195, 195, 190, 0.85);
    margin-right: 0.5rem;
    margin-right: 0.5rem;
}

.t {
    font-size: 19px;
}

table {
    background: #f0f0dc;
    font-size: 13px;
    width: 100%;
    color: #1a390b;
    padding: 0.1rem;
    margin-bottom: 0.7rem;
}

.addnew {
    font-size: 22px;
    padding: none;
}

.newcom {
    margin-left: 4.5rem;
}

#details {
    padding: 1rem;
    height: 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h3 {
    margin-bottom: .5rem;
    color: #40614B;
}

#task {
    flex-direction: column;
    padding-left: 2rem;
}

.form {
    width: 50%;
    height: 90%;
    border: 1px solid grey;
    border-radius: 1rem;
    background-color: rgb(195, 195, 190, 0.85);
    margin-right: 0.5rem;
    margin-right: 0.5rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: space-between;
}

.button {
    font-size: 25px;
    border-radius: 1rem;
    color: #40614B;
    padding: .2rem;
    padding-right: 1rem;
    padding-left: 1rem;
    margin: 0 auto;
    margin-top: 1rem;
    margin-left: 8rem;
}

.box {
    display: flex;
    flex-direction: row;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(228,235,230,0.7819328414959734) 0%, rgba(222,229,231,1) 100%, rgba(140,207,160,1) 100%);
    border-top: 2px solid lightgrey;
    padding-bottom: 4rem;
}

.box1 {
    height: 92%;
    padding-top: 2rem;
    padding-right: 10rem;
    padding-left: 10rem;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(228,235,230,0.7819328414959734) 0%, rgba(222,229,231,1) 100%, rgba(140,207,160,1) 100%);
    font-size: 20px;
}

#new {
    width: 9%;
    margin-top: 1rem;
}

img {
    border-radius: 50%;
    margin-bottom: 2.5rem;
}

.media {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'OCR A Std', monospace;
    font-size: 25px;
    margin-right: 15rem;
}

.info {
    color: #5eb370;
}

.data {
    color: #40614B;
    margin-bottom: 1.5rem;
}

.forms {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #40614B;
}

span {
    display: none;
}

label {
    color: #40614B;
}

.h2 {
    font-family: 'OCR A Std', monospace;
    font-size: 33px;
    padding-top: 1.3rem;
    padding-bottom: 1.5rem;
}

.udate {
    font-size: 20px;
}

input {
    width: 100%;
    font-size: 24px;
    border: none;
    background: none;
    border-bottom: 1px solid grey;
    margin-bottom: 1.8rem;
    margin-top: .2rem;
}

textarea {
    width: 100%;
    height: 6rem;
    font-size: 24px;
    background: none;
    margin-bottom: 1.8rem;
    margin-top: .2rem;

}

#id_image {
    border-bottom: none;
}

#save {
    margin-left: 25rem;
    font-size: 27px;
    font-weight: bold;
}

#task {
    margin-top: 1rem;
    margin-left: 4rem;
}

.smallform {
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 25px;
}

#small {
    font-size: 22px;
    margin-top: 2rem;
    margin-left: 3rem;
}
